<div>
    <main>
        <section>
            {{>title data='Excursion plan' big=true}}
            <hr>
            {{#with program}}
                {{#with excursion}}
                    <b>{{name}}</b> -
                    {{#with location}}
                        {{country}}, {{city}}
                    {{/with}}
                    <br><br>
                    Date: {{date}}

                    <ul>
                        {{#each program}}
                            <li>
                                {{type}}: {{name}} ({{duration}})
                                <br><br>
                                {{#with details}}
                                    {{#with museum}}
                                        {{>program}}
                                        <br>
                                        <ul>
                                            {{#each exhibits}}
                                            <li>
                                                <b>{{name}}</b>  
                                                {{#if audio_guide}}
                                                 - &#127911; *
                                                {{/if}}<br>
                                                {{description}} <br>
                                                <i>{{artist}}</i>
                                            </li>
                                            <br><br> 
                                            {{/each}}
                                        </ul>
                                        
                                    {{/with}}

                                    {{#with venue}}
                                        {{>program}}
                                    {{/with}}
                                    <br>
                                    <ul>
                                        {{#each performers}}
                                            <li>
                                                <b>{{name}}</b><br>
                                                {{type}} <br>
                                            </li>
                                            <br><br>
                                        {{/each}}
                                    </ul>                                    
                                    <br>
                                    {{#with guide}}
                                        Your guide is {{name}} spoken {{language}} <br>
                                        <i>Rating {{rating}}</i>
                                    {{/with}}
                                    <br><br><br>                                    
                                {{/with}}
                            </li>                             
                            <br>
                        {{/each}}
                    </ul>
                {{/with}}
            {{/with}}
        </section>
        <hr>
        <section>
            <p>
                * &#127911; - Audio guide is avaible
            </p>
        </section>
    </main>
</div>