<main class="p-5">

    <heder>
        <div class="card">
            {{#with navigation}}
            <div class="nav">
                {{#each links}}
                    <div class="nav-item">
                        <a class="nav-link" href="{{htef}}">{{text}}</a>
                    </div>
                {{/each}}
                <div class="pt-2 px-4">Disabled</div>
            </div>        
            {{/with}}
        </div>        
    </heder>
    
    <section>
        <div class="row">
            {{!-- Left panel --}}
            <div class="col-8 g-3 mt-5">
                <div class="row">
                    {{#with formBlock}} 
                        <div class="col-12">
                            <h1>{{header}}</h1>
                            {{#with rating}}
                            <p>{{title}}: {{value}}</p>
                            {{/with}}
                        </div>
                        

                        <div class="nav nav-tabs col-12">
                            {{#with actionBlock}}
                                {{#each tabs}}
                                    <div class="nav-item">
                                        <a class="nav-link 
                                        {{#if isActive}}
                                            active
                                        {{/if}}
                                        ">
                                            {{text}}
                                        </a>
                                    </div>
                                {{/each}}
                                
                                

                            {{/with}}
                        </div>
                        <hr class="my-5">
                        <div class="col-12 px-0">
                            {{#with actionBlock.report}}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="pb-2">{{title}}</div>
                                        {{#with button}}    
                                            <a class="btn btn-secondary" href="{{link}}">{{text}}</a>
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                        <hr class="my-5">
                        <div class="col-12">
                            {{#with feedbackBlock}}
                                <h2>{{title}}</h2>
                                {{#each buttons}}
                                    <a href="{{link}}" class="btn
                                    {{#if isWarning}}
                                    btn-warning text-light
                                    {{/if}}
                                    {{#if isSuccess}}
                                    btn-success
                                    {{/if}}
                                    {{#if isDanger}}
                                    btn-danger
                                    {{/if}}
                                     me-4 mt-5">
                                        {{text}}
                                    </a>
                                {{/each}}
                            {{/with}}
                        </div>
                    {{/with}}
                </div>
                
                
            </div>
            {{!-- Right panel --}}
            <div class="col-4 mt-5">
                {{#with formBlock.goodsInfo}}
                    <div class="card">
                        <div class="card-body">
                            <img src="{{photo}}" alt="random image" width="60%" class="rounded">
                            <p class="mt-3 mb-0">{{name}}</p>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body">
                            <h3>{{price}}</h3>
                            {{#if inMarket}}
                            <div>
                                В наявності
                            </div>
                            {{/if}}
                            {{#each buttons}}
                                <div class="mt-2">
                                    <a href="{{link}}" class="btn
                                    {{#if isPrimary}}
                                    btn-primary
                                    {{/if}}
                                    {{#if isSecondary}}
                                    btn-secondary
                                    {{/if}}
                                    ">
                                        {{text}}
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body">
                            {{#with seller}}
                                {{title}}: <b>{{value}}</b>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            </div>
            <hr class="my-5">

            <div class="mt-3">
                {{>reviewItem}}
            </div>
        </div>
        {{#with service}}
            <div class="text-center text-bg-success card border-0">
                <div class="card-body">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                    {{/each}}
                </div>
                
            </div>
        {{/with}}        
    </section>    

    <footer>
        <hr class="mt-5 mb-3"> 
        <div class="nav flex-column">          
            <div class="row">
                {{>shopf data=footer.[0]}}
                {{>shopf data=footer.[1]}}
                {{>shopf data=footer.[2]}}
                {{>shopf data=footer.[3]}}
                {{>shopf data=footer.[4]}}                
            </div>
        </div> 
        
    </footer>
    
</main>