{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
{{#with person}}
<div>
    <header>
        {{> title}}
        <br>
        <hr> 
    </header>

    <main>
        <section>
            <div>
                <h2>{{summary.title}}</h2>
            </div>
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            <div>
                <h2>{{otherexp.title}}</h2>
            </div>
            <div>
                <p>
                    {{otherexp.text}}
                </p>
            </div>
        </section>
    </main>

    <footer>
        <hr>
        <br>
        <a href="mailto:{{social.email}}">{{social.email}}</a> /
        <a href="tel:{{social.phone}}">{{social.phone}}</a> /
        <a href="{{social.linkedin}}" target="_blank">LinkedIn</a>
    </footer>

</div>
{{/with}}
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
