{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="mx-5">
    {{!-- <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary}}</em>
        </div>
        <br>
        <hr>
    </header> --}}

    {{!-- <nav>
        <a href="/skills">Skills</a>
        <a href="/summary">Summary</a>
    </nav> --}}

    {{#with main}}
    <main>
        <section class="mb-5">
            {{> title data=summary.title big=true}}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            {{#with experience}}
            {{> title data=title big=false}}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
            {{/with}}
        </section>
    </main>
    {{/with}}

    {{!-- <footer>
        <hr>
        <br>
        {{!-- Перший варіант: --}}
        {{!-- <a href="{{social.email.href}}">{{social.email.text}}</a> /
        <a href="{{social.phone.href}}">{{social.phone.text}}</a> /
        <a href="{{social.linked.href}}" target="_blank">{{social.linked.text}}</a> --}}

        {{!-- Другий варіант: --}}
        {{!-- {{#with social}}

        {{#with email}}
        <a href="{{href}}">{{text}}</a> /
        {{/with}}

        {{#with phone}}
        <a href="{{href}}">{{text}}</a> /
        {{/with}}

        {{#with linked}}
        <a href="{{href}}" target="_blank">{{text}}</a>
        {{/with}}
        {{/with}} --}}

        {{!-- Третій A варіант: --}}
        {{!-- {{#with social}}

        {{#with email}}
        {{> link links=href info=text}} /
        {{/with}}

        {{#with phone}}
        {{> link links=href info=text}} /
        {{/with}}

        {{#with linked}}
        {{> link links=href info=text}}
        {{/with}}

        {{/with}} --}}


        {{!-- Третій Б варіант: --}}
        {{!-- {{#with social}}

        ==Третій В варіант: {{> link links=email.href info=email.text}} /
        {{#with email}}
        {{> link}} /
        {{/with}}

        {{#with phone}}
        {{> link}} /
        {{/with}}

        {{#with linked}}
        {{> link}}
        {{/with}}

        {{/with}} --}}

        {{!-- Четвертий варіант: --}}
        {{!-- {{#with social}}
        {{> link data=email}} /
        {{> link data=phone}} /
        {{> link data=linked}}
        {{/with}}

    </footer> --}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}