{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
{{#with person}}
<div>
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}} | Resume</h1>
        </div>

        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{sallary}}</em>
        </div>

        <br>
        <hr> 
    </header>

    <main>
        <section>
            {{> title data=summary.title}}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            {{> title data=otherexp.title}}
            <div>
                <p>
                    {{otherexp.text}}
                </p>
            </div>
        </section>
    </main>

    <footer>
        <hr>
        <br>
        <a href="mailto:{{social.email}}">{{social.email}}</a> /
        <a href="tel:{{social.phone}}">{{social.phone}}</a> /
        <a href="{{social.linkedin}}" target="_blank">LinkedIn</a>
    </footer>

</div>
{{/with}}
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
