<main>
    {{#with page_header}}
    <div class="text-center">
        <h1>{{title}}</h1>
        <p class="text-uppercase">{{description}}</p>
    </div>
    {{/with}}

    {{#with section}}
    <section>

        <div class="card">
            <div class="card-body">
                {{#with about_us}}
                    {{#with title_list}}
                    <div class="text-end">
                        <div class="display-6">{{main}}</div>
                        <h2>{{sub}}</h2>
                    </div>
                    {{/with}}
                    {{#with button}}
                        <button class="btn btn-outline-info">{{text}}</button>
                    {{/with}}
                {{/with}}
            </div>
        </div>
        
        <br>

        <div class="card">
            {{#with advantage}}            
            <div class="card-body">
                                    
                <div class="display-5 text-muted">
                    {{title}}
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#with efficiency}}
                            <div>
                                {{>task22}}
                            </div>
                            {{>task222}}
                        {{/with}}
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#with innovation}}
                            <div class="text-center">
                                {{>task22}}
                            </div>
                            {{>task222}}
                        {{/with}}
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#with collaboration}}
                            <div class="text-end">
                                {{>task22}}
                            </div>
                            {{>task222}}
                        {{/with}} 
                    </div>
                </div>
            </div>
            {{/with}}  
        </div>                


        
        <br><br><br>
        {{#with agreement}}
            <div class="card">
                <div class="card-body">
                    <div class="display-5">{{title}}</div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            {{#with info}}
                                <h5>{{sub_title}}</h5>
                                <div class="card">
                                    
                                    {{#with detail}} 
                                        <div class="card-body">
                                            <p>{{text}}</p>
                                            <button class="btn btn-success">{{button}}</button>
                                        </div>
                                    {{/with}}
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div> 
        {{/with}}
        
        
    </section>
    {{/with}}
</main>