<div>
    {{#with main}}
        <main>
        <section>
{{>title data="work history" big=true}}
            <div>
                <ul>
                  {{#each works}}
                    <li>
                      <div>{{position}}</div>
                      <br>

                      <div>{{duration.from}} -                        - 
                        {{#if duration.to}} 
                        {{duration.to}} 
                        {{else}} (працюю досі)
                         {{/if}}
                         </div>

                         <div> {{#if company.url=null}}<b>{{company.name}}</b>
       {{/if}}
  </div>
</div>
                        <br><br>

                      <div>{{> link text=company.name href=company.url blank=true noline=true}}</div>
                      {{/each}}
                      <br>
                      <div><strong>Projects({{projectAmount}})</strong> </div>
                   
                    <br>
                    <ul>
                        {{#each projects}}
                        <li> 
                          <div>{{name}}</div>
                         <div>{{> link text=name href=url blank=true noline=true}}</div>
                          <br> 
                          <p>{{about}}</p>
                          <br>
                        
                       
                    <br>
                         <em>Project stacks</em>
                         ({{stackAmount}})
                         {{#each stacks}} <br>
                           {{name}}
                           {{/each}}
                           
                            <em>Project awards</em>
                           ({{awardAmount}})
                            {{#each awards}} 
                            {{name}} <br>
                            {{/each}}
                                                     </li>
                         </ul>
                         
                        </div>
                        </li>
                        <br>
            {{/each}}
                  </ul>
        </section>
       </main>
       
    {{/with}}
</div>
