{{!-- <a href='{{links}}'>{{info}}</a>     3A--}}
{{!-- <a href='{{href}}'>{{text}}</a> --}}
{{!-- <a href='{{data.href}}'>{{data.text}}</a>  4A --}}
{{#with data}}
  <a href='{{href}}'>{{text}}</a>
{{/with}}