{{#each reviewList}}
<div class="card mb-5">
    <div class="card-body mx-3">
        
        <div class="row">
            <div class="card col-12 px-0">
                <div class="card-header">
                    {{#with title}}
                        <h4 class="mb-0">{{userName}}</h4>
                        <div class="mb-2">{{caption}}</div>
                        <p class="mb-0">{{date}}</p>
                    {{/with}}
                </div>
                <div class="card-body">
                    {{#with reviewBody}}
                        {{#with seller}}
                            <div class="mb-4">
                                {{title}}: {{value}}
                            </div>
                        {{/with}}
                        {{#with rating}}
                            <div class="mb-4">
                                {{title}}: {{value}}
                            </div>
                        {{/with}}
                        {{#each text}}
                            <p class="mb-4">{{this}}</p>
                        {{/each}}
                        {{#with advantages}}
                            <div><b>{{title}}:</b></div>
                            <p>{{text}}</p>
                        {{/with}}
                        {{#with disadvantages}}
                            <div><b>{{title}}:</b></div>
                            <p>{{text}}</p>
                        {{/with}}
                        <div>
                            {{#each images}}
                                <img class="me-2 rounded" src="{{this}}" alt="randome image">
                            {{/each}}
                        </div>
                    {{/with}}
                </div>
            </div>
            
            {{#each reviewBody.coments}}
                <div class="col-1"></div>
                <div class="card mt-3 col-11">
                    <div class="card-body">
                        <h4>{{userName}}</h4>
                        <p class="my-2">{{date}}</p>
                        <p class="mb-0">{{text}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}