{{!
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>

	{{#with header}}
	<header>
		<div>
			<h1>{{name.firstname}} {{name.lastname}}</h1>
		</div>
		<div>
			<b>{{position}}</b>
		</div>
		<br />
		<div>
			<em>{{salary}}</em>
		</div>
		<br />
		<div>
			<address>{{address}}</address>
		</div>
		<br>
		<hr />
	</header>
	{{/with}}

	<nav>
		{{> link href='/skills' text='Skills'}}
		{{> link href='/summary' text='Summary'}}
		{{> link href='/education' text='Education' end=true}}

		{{!-- <a href='/skills'>Skills</a> --}}

		{{!-- <a href='/summary'>Summary</a> --}}
	</nav>


	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу }}
	{{{body}}}

	{{#with footer}}
	<footer>
		<hr>
		<br>
		{{!-- Перший варіант: --}}
		{{!-- <a href="{{social.email.href}}">{{social.email.text}}</a> /
		<a href="{{social.phone.href}}">{{social.phone.text}}</a> /
		<a href="{{social.linked.href}}" target="_blank">{{social.linked.text}}</a> --}}

		{{!-- Другий варіант: --}}
		{{!-- {{#with social}}

		{{#with email}}
		<a href="{{href}}">{{text}}</a> /
		{{/with}}

		{{#with phone}}
		<a href="{{href}}">{{text}}</a> /
		{{/with}}

		{{#with linked}}
		<a href="{{href}}" target="_blank">{{text}}</a>
		{{/with}}
		{{/with}} --}}

		{{!-- Третій A варіант: --}}
		{{!-- {{#with social}}

		{{#with email}}
		{{> link links=href info=text}} /
		{{/with}}

		{{#with phone}}
		{{> link links=href info=text}} /
		{{/with}}

		{{#with linked}}
		{{> link links=href info=text}}
		{{/with}}

		{{/with}} --}}


		{{!-- Третій Б варіант: --}}
		{{!-- {{#with social}}

		==Третій В варіант: {{> link links=email.href info=email.text}} /
		{{#with email}}
		{{> link}} /
		{{/with}}

		{{#with phone}}
		{{> link}} /
		{{/with}}

		{{#with linked}}
		{{> link}}
		{{/with}}

		{{/with}} --}}

		{{!-- Четвертий варіант: --}}
		<div>

			{{#with social}}
			{{> link href=email.href text=email.text line=true}}
			{{> link href=phone.href text=phone.text line=true}}
			{{> link href=linked.href text=linked.text blank=true end=true}}
			{{/with}}

		</div>
		<br>
		<div>

			<em>Copyright by {{../header.name.firstname}} {{../header/name/lastname}} &#169;</em>

		</div>

		<br />

		<div>

			<address>{{../header.address}}</address>

		</div>

	</footer>
	{{/with}}


</body>

</html>